<!-- ================ CSS ================ -->

<!-- INSERIR DENTRO DA TAG HEAD -->

<style>

    #region-main { opacity: 0; }
    
    .single-section.onetopic .nav.nav-tabs a span{font-weight: 400 !important;}
    #region-main{background: #f8f8f8;padding-bottom: 15px;}
    #maincontent{height: 0px;}
    .single-section.onetopic{margin-top: 0px !important;}
    .single-section .nav-tabs{display: flex;background: #fff;}
    .single-section .nav-tabs>li{display: contents;}
    .single-section li.dropdown{position: relative;display:block}
    .nav-tabs>.active>a{margin-bottom: -1px;}
    .single-section .nav-tabs .active a { background: #f8f8f8 !important;}
    
    #dropdown-menu-1 a:hover{text-decoration: none !important;}
    #dropdown-menu-1 a>div{border-radius: 5px;}
    #dropdown-menu-1 a:hover>div{background: #eee !important;}
    
     .dropdown-toggle .caret {border-top-color: #446e4c!important;border-bottom-color: #446e4c!important;}
        
    .nav-tabs .open .dropdown-toggle, .nav-pills .open .dropdown-toggle, .nav>li.dropdown.open.active>a:hover, .nav>li.dropdown.open.active>a:focus{
        background-color: #d8d4d4;
        border-color: #d8d4d4;
    }

    #button-menu-semanas{
        cursor: pointer;
    }

    #dropdown-menu-1{
        display: none;
        margin: 0px 25px;
        border: unset;
        border-bottom: 1px solid #ddd;
        background: unset;
        position: unset;
        box-shadow: unset;
        border-radius: 0px;
        margin-bottom: 20px;
        padding-bottom: 10px;
    }

    #dropdown-menu-1>a {
        display: inline-block;
    }

    #dropdown-menu-1.open{
        display: block;
    }
    
    #dropdown-menu-1 a:not([href]) {
        font-weight: bold;
        pointer-events: none;
    }
    
    #dropdown-menu-1 a:not([href]) .tab_content {
        background: #d8d4d4;
        border-radius: 5px;
    }
    
</style>

<!-- ============== END CSS ============== -->

<!-- ================ JAVASCRIP ================ -->

<!-- INSERIR ANTES DA TAG BODY FECHAR -->
    
<!-- INCLUIR CDN JQUERY -->
<script src="https://code.jquery.com/jquery-3.4.1.js" integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU=" crossorigin="anonymous"></script>

<script>

    $(document).ready(function() {

        // INCLUIR BOTÃO QUE IRÁ ABRIR O MENU
        $(".single-section .nav-tabs li:nth-child(1)").after('<li><a class="dropdown-toggle" id="button-menu-semanas" title="Semanas"> <div class="tab_content tab_position_1 tab_level_0"><span>Semanas <b class="caret"></b></span></div></a></li>');
        // INCLUIR MENU DEPOIS DO MENU HORIZONTAL DE CONTEÚDO PADRÃO DO MOODLE 
        $(".single-section .nav-tabs").after('<ul id="dropdown-menu-1"></ul></li>');
        
        // CAPTURAR TODOS OS BOTÕES (NESTE CASO, INICIA NO ITEM 3 ATÉ O ITEM 19) DO MENU HORIZONTAL DE CONTEÚDO E INSERIR DENTRO DO NOVO MENU
        for (var i = 3; i < 19; i++) {
            // PEGAR ITEM DO MENU
            var button  = $(".single-section .nav-tabs li:nth-child("+i+")").html();
            // ESCONDER ITEM DO MENU
            $(".single-section .nav-tabs li:nth-child("+i+")").hide();
            // INCLUIR DENTRO DO NOVO MENU
            $("#dropdown-menu-1").append(button);
        }

        // PERCORRER TODOS OS BOTÕES DO NOVO MENU     
        $('#dropdown-menu-1 a').each(function( index ) {
            // VERIFICAR ESTÁ ATIVO
            if($(this).attr('href') === undefined) {
                // ATIVAR O BOTÃO QUE ABRE O NOVO MENU
                $("#button-menu-semanas").parent().addClass("active");   
                $("#button-menu-semanas").addClass("active");  
                // TRAZER ABERTO O NOVO MENU        
                $("#dropdown-menu-1").show();  
            }    
        });

        $("#region-main").css("opacity", "1");
       
    });

    // QUANDO CLICAR NO BOTÃO QUE ABRE O NOVO MENU 
    $(document).on("click", "#button-menu-semanas" , function() {
        // DEIXAR O BOTÃO ATIVO 
        $(this).addClass("active");
        $(this).parent().addClass("active");
        // MOSTRAR MENU 
        $("#dropdown-menu-1").slideDown();
    });

    // QUANDO CLICAR NO BOTÃO QUE ABRE O NOVO MENU E ELE ESTIVER ABERTO
    $(document).on("click", "#button-menu-semanas.active" , function() {
        // DESATIVAR BOTÃO
        $(this).removeClass("active");
        $(this).parent().removeClass("active");
        // FECHAR MENU 
        $("#dropdown-menu-1").slideUp();
    });
    
</script>

<!-- ============= END JAVASCRIP ============== -->